*, *before, *after {
    box-sizing: border-box;
}

.intro {
    background: green;
}

header {
    width: 50%;
    background: yellow;
    padding: 1em;
    margin: 1em;
    border: 5px 10px solid blue;
    display: inline-block;
}

.summary {
    width: 250px;
    display: inline-block;    
}

.preamble {
    max-width: 500px;
    min-width: 300px;
}

.sidebar {
    position: fixed;
    right: 10px;
    top: 10px;
    max-width: 250px;
    background: chartreuse;
    padding: 1em;
}

.page-wrapper {
    margin-right: 300px;
}

#zen-supporting {
   display: flex; 
   flex-wrap: wrap;
}

.explanation, .participation, .benefits, .requirements {
    flex-grow: 1;
    flex: 2;
}

.benefits {
    flex: 2;
    order: -1;
}

footer {
    flex-basis: 10px;
}
